*.orig
*.py[co]
*.sublime-project
*.sublime-workspace
*.swp
*.log
*~
*.sqlite3

/static
/media
/bin
/lib
/include
/distribute*.tar.gz
/local

.coverage
.DS_STORE
.fontcustom-manifest.json
.idea
.project
.pydevproject
npm-debug.log